[Desktop Entry]
Name=Postman
GenericName=API Client
X-GNOME-FullName=Postman API Client
Comment=Supercharge your API workflow
Keywords=api;
Type=Application
Version=1.0
Icon=/home/{{user}}/Desktop/softwares/Postman/app/resources/app/assets/icon.png
Exec=/home/{{user}}/Desktop/softwares/Postman/Postman
Terminal=false
Categories=Development;Utilities;
